<h1 class="page-title">Books</h1>

<%= link_to 'New Book', new_book_path%>

<% @books.each do |book| %>
  <div>
    <%= link_to book.title, detail_book_path(book) %>
    <p><%= book.description %></p>
  </div>
<% end %>

<%= stylesheet_link_tag 'index' %>
