<h1>Books</h1>

<ul>
  <% @books.each do |book| %>
    <li>
      <%= book.title %>
      <%= book.description %>
      <%= button_to '削除', delete_book_path(book), method: :delete %>
    </li>
  <% end %>
</ul>